<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514782399465-6kmpv357a55p9q2na8tr0t77jg70h22v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514782399465-6kmpv357a55p9q2na8tr0t77jg70h22v</string>
	<key>API_KEY</key>
	<string>AIzaSyDPuMQ2tXCaQi5ocOmgqOixKPWMsKE7kgg</string>
	<key>GCM_SENDER_ID</key>
	<string>514782399465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imaxeam.imxdep</string>
	<key>PROJECT_ID</key>
	<string>imx-accounting</string>
	<key>STORAGE_BUCKET</key>
	<string>imx-accounting.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514782399465:ios:e245ae7304ba1adb899978</string>
</dict>
</plist>